<body>
<ul>
  <li><a routerLink="">Accueil</a></li>
  <li><a routerLink="listUsers">Voir tous les troqueurs</a></li>

  <li style="float:right"><a class="active">WLT</a></li>
  <li class="profil" *ngIf="_authentificationService.getUserConnected()"><a routerLink="profile/">Mon profil</a></li>
  <li class="profil" *ngIf="!_authentificationService.getUserConnected()"><a routerLink="../Connexion">Connexion</a>
  </li>
  <li class="profil" *ngIf="_authentificationService.getUserConnected()"><a (click)="logOut()"
                                                                            routerLink="">Deconnexion</a></li>

  <li class="profil" *ngIf="_authentificationService.getUserConnected()">
    <span *ngIf="_authentificationService.getUserConnected()?.admin">
      <a routerLink="../manageUser">
      Menu admin
    </a></span>
  </li>

</ul>
</body>
