
<body>
<ul>
  <li><a routerLink="">Accueil</a></li>
  <li><a routerLink="listUsers">Voir tout les troqueurs</a></li>

  <li style="float:right"><a class="active" href="#about">About</a></li>
  <li class="profil" *ngIf="user"><a routerLink="profile/">mon profil</a></li>
  <li class="profil" *ngIf="user==null"><a routerLink="../Connexion">Connexion</a></li>
  <li class="profil" *ngIf="user"> <a (click)="logOut()" href="#">Deconnexion</a> </li>
  <li class="profil" *ngIf="user && user.admin"> <a routerLink="../manageUser">Menu admin</a> </li>

</ul>
</body>
