<div>
  <form [formGroup]="form" (ngSubmit)="sendArticle()">

    <label>
      Nom
      <input type="text" formControlName="name">
    </label>
    <br>
    <label>
      urlImage
      <input type="text" formControlName="urlImage">
    </label>
    <br>


    <div *ngIf="categories.length">
      <label>nomCat : </label>
      <select formControlName="combobox">
        <option *ngFor="let category of categories">
          {{category.nomCategory}}
        </option>
      </select>
    </div>

    <label>
      description :
      <input type="text" formControlName="description">
    </label>

    <input type="submit" value="Create">
  </form>
</div>
