<!--
<form [formGroup]="form" (ngSubmit)="login()">
  <div>
    <label>
      e-mail
      <input type="text" formControlName="email">
    </label>
    <label>
      mot de passe
      <input type="text" formControlName="mdp">
    </label>
  </div>
  <input type="submit" [disabled]="form.invalid">
</form>
-->

<body>
<div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form" [formGroup]="form" (ngSubmit)="login()">
    <p>
      <input type="email" id="username" formControlName="email" name="username" placeholder="email" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="email"formControlName="mdp" name="email" placeholder="mot de passe" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="Créer un compte" value="Login" [disabled]="form.invalid">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a routerLink="../CreateAccount">Create Account</a><p>
  </div>
</div>
</body>

