*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 9%;
  margin-right: 9%;

  position: absolute;
  height: 80%;
  width: 80%;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}
.container
{
  display: flex;
  flex-direction: row;
  float: left;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  width: 100%;
  height: 100%;
}
.containerImg
{
  display: flex;
  flex-direction: column;
  border: 1px dotted;
  align-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
}
.titre
{
  text-align: center;
}
.profil
{
  align-content: center;
  text-align: center;
border: 1px dotted;
  width: 100%;
  height: 30%;
}
.trade
{
  width: 100%;
  height: 70%;
  text-align: center;
  overflow: auto;
}
.ulArticles {

  overflow: auto;
  border: 1px solid;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1300px;
  margin: 70px auto 0;
}
.caseImage {
  text-align: center;
  margin: auto;
  border: 1px solid;

  width: 150px;
  height: 90px;
  margin: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.caseImage img {
  width: 100%;
  height: 100%;
}
.articleName
{
  font-size: 1vw;
}

.casArticle
{
  border: 1px solid;
  text-align: center;
}

.name
{
  width: 100%;
  text-align: center;
}

img
{
  margin: auto;
  width: 60%;
  height: 60%;

  overflow: hidden;
}
a{
  text-decoration : none;
  color: black;
}

.profilANDTrade{
  display: flex;
  flex-direction: column;
  width: 50%;
}



