*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 9%;
  margin-right: 9%;

  position: absolute;
  height: 80%;
  width: 80%;
  background: #828a00;
}
.container
{
  border: 1px solid;
  display: flex;
  flex-direction: row;
  float: left;
  background: #828a00;
  width: 100%;
  height: 100%;
}
.containerImg
{
  display: flex;
  flex-direction: column;

  border: 1px dotted;
  align-content: center;
  text-align: center;

  width: 50%;
  height: 100%;
}
.titre
{
  text-align: center;
}
.profil
{
  align-content: center;
  text-align: center;
border: 1px dotted;
  width: 50%;
  height: 100%;
}
.name
{
  width: 100%;
  text-align: center;

}

img
{
  margin: auto;
  width: 60%;
  height: 60%;

  overflow: hidden;
}
a{
  text-decoration : none;
  color: black;
}



