<body>
LISTE ARTICLES
<div class="container" *ngIf="article">

  <div class=containerImg>
    <div class="name">{{article.name}}</div>
    <--<span>"catégorie"</span>-->
    <div> Description de l'article : <br> {{article.description}}</div>
  <img src="{{article.urlImage}}"/>
  </div>

  <div class="profil" *ngIf="user">
    Voici le profil du troceur
    <br>
    Pseudo : {{user.pseudo}}
    <br>
    localite : {{user.localite}}
    <br>
   Contacter par mail ? <a href="mailto:{{user.email}}"> {{user.email}}</a>
    <br>
    <a routerLink="../../detailUser/{{user.id}}">
    Accéder au profil ?
    </a>

  </div>
</div>
</body>
<router-outlet></router-outlet>




