<body>
<div class="container">
  <div>
    <form [formGroup]="form" (ngSubmit)="Update()">
      <div class="modif" *ngIf="article">
        <h2>Modifer l'article</h2>
        <div class="error" *ngIf="error">
          {{errorMsg}}
        </div>
        <table>
          <ul>
            <tr>
              <td>Nom :</td>
              <td><input type="text" formControlName="name" [(ngModel)]="article.name"></td>
            </tr>
            <tr>
              <td>Description :</td>
              <td><input formControlName="description" [(ngModel)]="article.description"></td>
            </tr>
            <tr>
              <td>URL de l'image :</td>
              <td><input formControlName="url" [(ngModel)]="article.urlImage"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Modifier" [disabled]="form.invalid"></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <form (ngSubmit)="delete()">
                  <input type="submit" value="Supprimer">
                </form>
              </td>
            </tr>
          </ul>
        </table>
      </div>
    </form>


    <br><br><br>
    <div class="profil">
      <a routerLink="../../profile">
        Retourner à mon profil
      </a>
    </div>
  </div>
</div>
</body>

<router-outlet></router-outlet>




