*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table
{
  margin: auto;
  width: 50%;
}
tr
{
  border: 1px solid;
}

td
{
  width: 25%;
  border: 1px dotted;
  font-size: 2vw;

}
body
{
  position: absolute;
  background: #1DA1F2;
  border: 1px solid;
  height: 80%;
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}
h1
{
  text-align: center;
}
span
{
  text-align: center;
}
.container
{
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
