<body>

<div class="container" *ngIf="articles.length">

  <div class="recherche">
    <div class="rechercheBar">
      <form (ngSubmit)='affichage(recherche.value)'>
        <input id="recherche" #recherche type="text" name="test">
        <input type="submit" value="Rechercher">
      </form>
    </div>

    <div class="filtre" *ngIf="categories.length">
      <form (ngSubmit)="filtreCategories(combobox.value)">
        <select #combobox>
          <option *ngFor="let category of categories">
            {{category.nomCategory}}
          </option>
        </select>
        <input type="submit" value="Filtrer">
      </form>
    </div>
  </div>

  <ul>
    <li *ngFor="let article of articles ">
      <a routerLink="../detail/{{article.id}}">
        <div class="casArticle">
          <span class="articleName">{{article.name}}</span>
          <div class="caseImage">
            <img src={{article.urlImage}}/>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
</body>
<router-outlet></router-outlet>



