<body>
LISTE ARTICLES
<div class="container" *ngIf="articles.length">
  <form  (ngSubmit)='affichage(recherche.value)' >
    <input #recherche type="text" name="test">

    <input type="submit" value="Rechercher" >
  </form>
  <ul>

    <li *ngFor="let article of articles " >
      <a routerLink="../detail/{{article.id}}">
        <div class="casArticle">
          <span class="articleName">{{article.name}}</span>
          <div class="caseImage">
            <img src={{article.urlImage}}/>
          </div>
        </div>
      </a>

    </li>


  </ul>
</div>
</body>
<router-outlet></router-outlet>



