*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: auto;
}
.container
{
  overflow: auto;
  margin-left: 8%;
  margin-right: 8%;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  height: 80%;
  width: 80%;

}


ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1300px;
  margin: 70px auto 0;
}
.caseImage {
  text-align: center;
  margin: auto;
  border-radius: 1px;
  width: 300px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.caseImage img {
  width: 100%;
  height: 100%;
}

.articleName
{
  font-size: 3vw;
}
a{
  text-decoration : none;
  color: black;
}
.casArticle
{
  border: 1px solid;
  text-align: center;
}

.recherche
{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.rechercheBar
{
  width: 50%;
}

#recherche
{
  width: 80%;
}

