<body>
<h1>Detail de la transaction</h1>
<div class="profil">
  <a routerLink="../../profile">
    Retourner à mon profil
  </a>
</div>
<div *ngIf="userConnected && requestingUser &&userConnected.id != requestingUser.id" class="accepter">
  <input type="submit" value="accepter" (click)="accepter(true)">
  <input type="submit" value="Refuser" (click)="accepter(false)">
</div>
<br>
<div class="container"
     *ngIf="ArticleWanted && ArticleOffer && transaction && requestingUser &&userConnected && UserArticleWanted">
  <div class="offre">
    <div class="articleOffer">
      <span *ngIf="requestingUser.id != userConnected.id">L'utilisateur {{requestingUser.pseudo}} veut échanger son article suivant :</span>
      <span *ngIf="requestingUser.id == userConnected.id">Vous voulez echanger votre</span>
      <div class="caseImage">
        {{ArticleOffer.name}}
        <img src="{{ArticleOffer.urlImage}}"/>
      </div>
    </div>

    <div class="ArticleWanted">
      <span *ngIf="requestingUser.id != userConnected.id">Avec votre :</span>
      <span
        *ngIf="requestingUser.id == userConnected.id">Avec cet article appartenant à {{UserArticleWanted.pseudo}}</span>
      <div class="caseImage">
        {{ArticleWanted.name}}
        <img src="{{ArticleWanted.urlImage}}"/>
      </div>
    </div>
  </div>
</div>

</body>
