<body>
<div class="container">
  <div class="brand-logo"></div>
<form [formGroup]="form" (ngSubmit)="sendUser()">
  <div class="inputs">
    <div class="brand-title">WeLoveTroc</div>
    <label>
      Email :
      <input type="text" formControlName="email">
    </label>
    <label>
      Pseudo
      <input type="text" formControlName="pseudo">
    </label>
    <label>
      Localite :
      <input type="text" formControlName="localite">
    </label>
    <label>
      Mot de passe :
      <input type="text" formControlName="mdp">
    </label>
  </div>
  <button type="submit" value="S'enregistrer" [disabled]="form.invalid">
  </button>
</form>
</div>

</body>







