*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin-left: 9%;
  margin-right: 9%;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  position: absolute;

  height: 80%;
  width: 80%;
}
.container{

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

}
.profil
{


  height: 25%;
  width: 100%;
}
.otherArticle
{
  border: 1px solid;

  height: 100%;
  width: 70%;
  overflow: auto;
}
.commentary
{
  border: 1px solid;
  height: 100%;
  width: 30%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.commentaryList
{
  height: 30%;
  overflow: auto;
}
.addCommentary
{
  border: 1px solid;
  height: 70%;
  text-align: center;
}
.ArticleANDCommentary
{
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
}
.ulArticles, .ulProfil {

  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1300px;
  margin: 70px auto 0;
}
.caseImage {
  text-align: center;
  margin: auto;
  border: 1px solid;

  width: 300px;
  height: 200px;
  margin: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.caseImage img {
  width: 100%;
  height: 100%;
}
.articleName
{
  font-size: 3vw;
}
a{
  text-decoration : none;
  color: black;
}
.casArticle
{
  border: 1px solid;
  text-align: center;

}




