<body>

<div class="container" *ngIf="user">
  <span class="name">Profil de l'utilisateur {{user.pseudo}}</span>
  <div class="profil">
    <ul class="ulProfil">
      <li>
        PSEUDO : {{user.pseudo}}
      </li>
      <li>
        EMAIL : {{user.email}}
      </li>
      <li>
        LOCALITE : {{user.localite}}
      </li>
    </ul>
  </div>

  <div class="ArticleANDCommentary">
  <div class="otherArticle" *ngIf="articles">
    <ul class="ulArticles">
      <li *ngFor="let article of articles">
        <a routerLink="../../detail/{{article.id}}">

          <div class="casArticle">
            <span class="articleName">{{article.name}}</span>
            <div class="caseImage">
              <img src={{article.urlImage}}/>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
    <div class="commentary">
      <div class="commentaryList" *ngIf="commentaries">
        <ul>
          <li *ngFor="let commentary of commentaries">
            {{commentary.nom}}
            <br>
            {{commentary.note}}
            <br>
            {{commentary.message}}
            <br>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
<router-outlet></router-outlet>






