body {
  margin-left: 8%;
  margin-right: 8%;
  background-color: #828a00;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.titre{

  text-align: center;
}

.requestANDoffer
{
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.HISTORIC
{
  border: 1px solid;
}
.row
{
  display: flex;
}
